<header>
    <div class="container-grid cabecalho">
        <a routerLink=""><img class="logo" src="assets/img/logo.svg" alt="Logo da loja Game Mania"></a>
        <nav id="menu" class="menu">
            <a routerLink="/sobre" target="_blank">Sobre</a>
            <a href="">Produtos</a>
            <a routerLink="/clientes" target="_blank">Clientes</a>
            <a routerLink="/parceiros" target="_blank">Parceiros</a>
            <a routerLink="/contatos" target="_blank">Contatos</a>
        </nav>
            <div class="icones-cabecalho">
                <a id="user-icone" routerLink="/login"><img src="assets/img/user-icon.svg" alt="Ícone que direciona para a área do usuário."></a>
                <a id="compra-icone" href="#"><img src="assets/img/compra-icon.svg" alt="Ícone que direciona para o carrinho de compras."></a>
                <a id="lupa-icone" href="#"><img src="assets/img/lupa-icon.svg" alt="Ícone que direciona para área de busca de produtos."></a>
            </div>
       </div>