main {
    background-color: black;
    height: 500px;  
}

main h2 {
    font-size: 25px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
}

.container-grid-parceiros img{
    width: 300px;
}

.container-grid-parceiros {
    display: flex;
    justify-content: space-around;
    align-items: center;
}